<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings file="secrets.config">
    <!--Create your own secrets.config to overwrite these keys.-->
    <add key="DiscordToken" value="" />
    <add key="CommandPrefix" value="" />
    <add key="SpotifyClientID" value="" />
    <add key="SpotifyClientSecret" value="" />
    <add key="SpotifyPlaylistID" value="" />
  </appSettings>
</configuration>